@import url("/home/janmar6/.cache/wal/colors-waybar.css");

@define-color bg rgba(0, 0, 0, 0.3);
@define-color fg @foreground;
@define-color inputborder @color3;
@define-color selection @color4;

window {
    margin: 5px;
    border: 2px solid @selection;
    background-color: @bg;
    /* border-radius: 15px; */
}

#input {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    color: @fg;
    border: 2px solid @inputborder;
    background-color: transparent;
    border-radius: 15px;
}

#input, #input * {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#inner-box {
    /* margin: 5px; */
    /* border: 2px solid transparent; */
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: 2px solid transparent;
    background-color: transparent;
}

#scroll {
    margin: 5px;
    border: 2px solid transparent;
    background-color: transparent;
}

#text {
    padding: 5px;
    color: @fg;
} 

#text:selected {
    color: #eeeeee;
}

#entry {
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 6px;
    border-radius: 15px;
}

#entry:selected {
    background-color: @selection;
}

#entry:focus {
   color: transparent;
}
