* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e1e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #1e1e1e;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #a6e3a1;
    /* color: #ffffff; */
    margin-right: 5px;
}

#workspaces button.empty {
    color: #888888;
}

#workspaces button:hover {
    /* background: #a6e3a1; */
    background: #469341;
    color: #222222;
    border-radius: 0px;
}

#workspaces button.active {
    color: #000000;
    background: #a6e3a1;
}

/* no idea when a workspace can be focused but not active */
#workspaces button.focused {
    color: #ff0000;
    background: #FE8019;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #FE8019;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#custom-audio_title,
#custom-keyboard_layout,
#custom-audio_output,
#backlight {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 0px;
}

#custom-keyboard_layout, #custom-lock_screen, #temperature, #custom-launch_wofi, #cpu, #battery {
    border-radius: 10px 0px 0px 10px;
}

#custom-light_dark, #custom-power_btn, #workspaces, #pulseaudio.microphone, #disk {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-light_dark, #custom-power_btn {
    padding-right: 15px;
}

#custom-lock_screen {
    padding-left: 15px;
}

#workspaces {
    padding-right: 5px;
    padding-left: 5px;
}

#temperature.critical {
    color: #e92d4d;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#custom-audio_title, #window {
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 10px;
}

#custom-launch_wofi {
    color: #89b4fa;
    margin-left: 10px;
    border-right: 0px;
}

#pulseaudio, #custom-audio_output{
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #a6e3a1;
    border-left: 0px;
}

